<h1 class="text-center my-4">Users Admin</h1>

<div class="container">
  <div class="row">
    <div class="col-12 mb-3 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="addUser()">
        <i class="fas fa-user-plus"></i> Add User
      </button>
    </div>
  </div>
  
  <div class="row">
    <!-- User List Table -->
    <div class="col-md-6">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th> <!-- New column for user type -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{getDesignationName(user.type)}}</td> <!-- New data binding for user type -->
            <td>
              <button class="btn btn-info btn-sm" (click)="viewUser(user.id)">
                <i class="fas fa-info-circle"></i> Show Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Add and View User Components -->
    <!-- User Details Section -->
    <div class="col-md-6">
      <div *ngIf="action === 'add'">
        <app-adduser [user]="selectedUser" (userAddedEvent)="refreshData()"></app-adduser>
      </div>
      <div *ngIf="action === 'view'">
        <app-viewuser [user]="selectedUser" (userDeletedEvent)="refreshData()"></app-viewuser>
      </div>
    </div>
  </div>
</div>
